@font-face {
    font-family: 'Beacon';
    src:url('../webfonts_Beacon/Beacon.ttf.woff') format('woff'),
        url('../webfonts_Beacon/Beacon.ttf.svg#Beacon') format('svg'),
        url('../webfonts_Beacon/Beacon.ttf.eot'),
        url('../webfonts_Beacon/Beacon.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #d6006fff;
}

img {
  margin:auto;
}

.navbar {
  background-color: #d6006fff !important;
  border-color:#d6006fff !important;
  margin-bottom:auto;
}

.navbar-brand {
  color: #e3be49ff !important;
  font-family: 'Beacon', cursive !important;
  font-size: 200% !important;
}

.navbar-nav li a {
  font-family: 'Beacon', cursive !important;
  font-size: 200% !important;
  color:#000000 !important;
}

.navbar-nav li a:hover {
  color: #e3be49ff !important;
}

.navbar-toggle {
  background-color: #e3be49ff !important;
  border-color: #e3be49ff !important;
}

h1, h2 {
  color:#e3be49ff !important;
  font-family: 'Beacon', cursive;
}

div.desc{
    background-color: #000;
    bottom: 0;
    color: #fff;
    left: 0;
    opacity: 0.5;
    position: absolute;
    width: 100%;
}

.fix{
    width: 100%;
    padding: 0px;
  position:relative;
}

.desc_content{
  padding:2% 0 0 4%;

}

.hover{
  opacity:0.5;
  margin-bottom:2%;
}
.hover:hover{
  opacity:1;
}
